# Dependency directories
src/client/node_modules/
src/server/node_modules/
src/server/logs/
node_modules/
# Webstorm
.idea/
# local .env* files
.env.local
.env.*.local
# Dist direcectory with transpiled javascript
dist/
