# Dependency directories
modules/client/node_modules/
modules/server/node_modules/
modules/server/logs/
node_modules/
# Webstorm
.idea/
# local .env* files
.env.local
.env.*.local
# Dist direcectory with transpiled javascript
dist/
